<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="icon" href="Images/icon.png">
    <link href="CSS/CssSheet.css" rel="stylesheet" />
    <script defer src="JS/JavaScript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="page_header">
        <img src="Images/Logo.jpg" class="top-line-left" alt="Logo" />
        <h1 class="top-line-center">BeautySOS</h1>
        <a href="http://localhost:8000/Home" class="top-line-right">Logout</a>
        <nav>
            <ul>
                <li><a href="http://localhost:8000/Home" class="navline">Home Page</a></li>
                <li><a href="http://localhost:8000/MyProfile" class="navline">My Profile</a></li>
                <li><a href="http://localhost:8000/FindAppointment" class="navline">Find Appointment</a></li>
                <li><a href="http://localhost:8000/AboutUs" class="navline">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="website_description">
        <h3 id="typing">About Us</h3>
        <div class="about_us">
            beautySOS was established in 2022 to help women find available appointments in beauty salons in an easy, convenient and centralized way,
            according to their wishes and preferences. Since it was founded, beautySOS has been very popular among the women in Tel Aviv and has already
            gained about 100,000 users!
        </div><br /><br />
    </div>
    <footer class="page_footer">
        <span class="find">You Can Find Us on Social Media!</span>
        <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank" id="social_media_button"></a>
        <a href="https://twitter.com/i/flow/login" class="fa fa-twitter" target="_blank"></a>
        <a href="https://www.instagram.com/accounts/login/" class="fa fa-instagram" target="_blank"></a>
        <span><a href="mailto:BeautySOS@gmail.com">BeautySOS@gmail.com </a></span>
    </footer>
</body>
</html>