extends MainLayout
block content
    h3 Book your next appointment easily and quickly with us!
    span(class="new_account") Don't have an account yet?
    a(href='http://localhost:8000/RegistrationPage' class="new_account1") Click To Create Account!