extends MainLayout
block content
    section(class="registration_page")
        form(action='/Register', onsubmit='return success_registration()', method='post')
            label(for='first_name')
            br
            input(type='text', name='first_name', id="first_name", maxlength="20", placeholder='First Name*', required)
            br
            p(id="firstnameError")
            label(for='last_name')
            br
            input(type='text', name='last_name', id="last_name", maxlength="20",placeholder='Last Name*', required)
            br
            p(id="lastnameError")
            label(for='email')
            br
            input(type='email', name='email', id="email", placeholder='Email*', required)
            br
            p(id="emailError")
            p #{emailError || ''}
            label(for='phone_number')
            br
            input(type='tel', name='phone_number', id="phone_number", placeholder='Phone Number*', pattern='[0-9]{10}', required)
            br
            p(id="phoneError")
            label(for='address')
            br
            input(type='text', name='address', id="address", placeholder='Address*', required)
            br
            p(id="addressError")
            label(for='age')
            br
            input(type='text', name='age', id="age", placeholder='Age*', required)
            br
            p(id="ageError")
            label(for='password')
            br
            input(type='password', name='password', id="password", placeholder='Password*', title='Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 digit and 8 digits or more', required)
            br
            br
            button(type='submit', class="submit",onclick='checkFullName(), checkPhoneNumber(), checkAdress(), checkAge()') Create User
            br
            br
