extends MainLayout
block content
    div(class="about_us") 
        | beautySOS was established in 2022 to help women find available appointments in beauty salons in an easy, convenient and centralized way,
        br
        | according to their wishes and preferences. Since it was founded, beautySOS has been very popular among the women in Tel Aviv and has already
        br
        | gained about 100,000 users!
        br
